html, body, canvas {
    padding: 0;
    margin: 0;
    overflow: hidden;
}
html.cursor-hidden,
html.cursor-hidden * {
    cursor: none !important;
}
video {
    object-fit: var(--object-fit, cover);
    user-select: none;
}
video, canvas {
    width: 100vw;
    height: 100vh;
    display: block;
}
canvas {
    display: none;
}
.shader-enabled video {
    position: fixed;
    width: 1px;
    height: 1px;
    opacity: 0;
    pointer-events: none;
}
.shader-enabled canvas {
    display: block;
}
